.button-wrapper {
    min-width: 160px;
    height: 40px;
    background-color: #00338D;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-wrapper:hover {
    background-color:rgba(0, 51, 141, 0.9)
}